.blogsTitle{
    border-bottom: 8px solid rgb(111, 109, 109);
    /* border-right: 3px solid white;
    border-left: 3px solid white; */
    border-radius: 70px;
    /* background: rgb(78, 77, 77); */
}