
.skill-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    
}

.details{
    /* width: 240px;
    height: 183px; */
    /* border: 2px solid white; */
     border-radius: 15px;
     cursor: pointer;
     
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 8px;
  
}
 .title{
    margin-top: 8px;
}
.photo{
    width: 60px;
    height: 60px;
    text-align: center;
   
}